[Desktop Entry]
Encoding=UTF-8
Name=PyCharm
Exec=/bin/pycharm.sh
Icon=/bin/pycharm.png
Type=Application
Categories=Development;
StartupWMClass=PyCharm
